<!DOCTYPE html>
<html>
<head>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tag %>
  <title>Rently | Renters and Landlords</title>
</head>
<body>
  <div id="header">
    <h1>Rently - A Place for Renters and Landlords to Connect</h1>
    <% if signed_in? -%>
      <%= link_to "Sign out", sign_out_path, :method => :delete %>
      Welcome <%= link_to current_user.name, dashboard_path %>
    <% else -%>
      <%= link_to "Sign in", sign_in_path %>
    <% end -%>
  </div>
  <div id="flash">
    <% flash.each do |key, value| -%>
      <div id="flash_<%= key %>"><%= value %></div>
    <% end %>
  </div>
  <%= yield %>
</body>
</html>
